a, a:hover, a:focus, i, input, button, input:focus, .transition {
    text-decoration: none;
    outline: none;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    box-shadow: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-color: #FFF;
    font-weight: 400;
    font-style: normal;
    color: #373737;
    font-size: 14px;
    display: flex;justify-content: center;
    flex-direction: column;
    align-items: center;
}
.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}
.container, .container-sm {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.ds-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFF;
    padding: 25px 0;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
.ds-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ds-banner section {
    padding-right: 0;
}
.ds-banner section h1, .ds-work-det-title {
    font-size: 30px;
    line-height: 40px;
}
.ds-banner section h1 span {
    padding-bottom: 0;
}
.ds-banner section h1 span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}
.ds-banner figure {
    padding: 30px 0;
}
figure {
    margin: 0;
}
.ds-logo{
    font-size: 0px;
}
.ds-logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
}
.ds-logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}
.ds-numbervalulist strong {
    display: block;
    color: #F26464;
}
.ds-numbervalulist li {
    margin-right: 30px;
}
.ds-numbervalulist {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}
.ds-social {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ds-social li:first-child {
    margin-left: 0;
}
.ds-social li {
    margin-left: 12px;
}
.ds-social li a {
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
h1 {
    font-family: 'Inter', sans-serif;
}
strong {
    font-size: 30px;
    }
svg, img {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    border: none;
    outline: none;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
